:root{
	--mainC:#15202B;
	--mainS:#192734;

	--borderC:#164D56;

	--mainT:#fff;
	--mainST:#eeeeee;

	--themeDotBorder:#FFF;

	--preview:rgb(25, 39, 52, 0.8);
	--shadow:#111921;


	--buttonColor:#17a2b8;


}