:root{
	--mainC:#606B56;
	--mainS:#515a48;

	--borderC:#161914;

	--mainT:#fff;
	--mainST:#eeeeee;

	--themeDotBorder:#FFF;

	--preview:rgb(81, 90, 72, 0.8);
	--shadow:#2a2f25;


	--buttonColor:#669966;


}
